:root {
  --header-font-family: "Jua", Helvetica;
  --header-font-size: 56px;
  --header-font-style: normal;
  --header-font-weight: 400;
  --header-letter-spacing: 0px;
  --header-line-height: normal;
  --m3-display-large-font-family: "Roboto", Helvetica;
  --m3-display-large-font-size: 57px;
  --m3-display-large-font-style: normal;
  --m3-display-large-font-weight: 400;
  --m3-display-large-letter-spacing: -0.25px;
  --m3-display-large-line-height: 64px;
  --m3-display-small-font-family: "Roboto", Helvetica;
  --m3-display-small-font-size: 36px;
  --m3-display-small-font-style: normal;
  --m3-display-small-font-weight: 400;
  --m3-display-small-letter-spacing: 0px;
  --m3-display-small-line-height: 44px;
  --m3-headline-medium-font-family: "Roboto", Helvetica;
  --m3-headline-medium-font-size: 28px;
  --m3-headline-medium-font-style: normal;
  --m3-headline-medium-font-weight: 400;
  --m3-headline-medium-letter-spacing: 0px;
  --m3-headline-medium-line-height: 36px;
}
